<div class="courses-container">
  <h2>Courses</h2>
  <ul>
    <li *ngFor="let course of courses">
      <span *ngIf="editingCourseId !== course.id">{{ course.name }}</span>
      
      <input *ngIf="editingCourseId === course.id" [(ngModel)]="updatedName" />
  
      <button *ngIf="editingCourseId !== course.id" class="update-btn" (click)="startEditing(course)">Update</button>
      <button *ngIf="editingCourseId === course.id" class="save-btn" (click)="updateCourse()">Guardar</button>
  
      <button class="delete-btn" (click)="deleteCourse(course.id)">Delete</button>
    </li>
  </ul>
  <button (click)="addCourse()">AGREGAR CURSO</button>
</div>