<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" role="navigation" class="drawer">
    <div class="drawer-content">
      <mat-nav-list>
        <!-- <mat-list-item [routerLink]="'/'">INICIO</mat-list-item> -->
        <mat-list-item [routerLink]="'/students'">ESTUDIANTES</mat-list-item>
        <mat-list-item [routerLink]="'/courses'">CURSOS</mat-list-item>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()"></app-toolbar>
    <main>
      <router-outlet></router-outlet> <!-- Aquí se carga la página actual -->
    </main>
  </div>
</mat-drawer-container>
